<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dashboard_mh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.simaht.SIMAHTApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.simaht.modules.test_camera.view.TestCamera"
            android:screenOrientation="portrait"
            android:theme="@style/CameraStyle"/>

        <activity
            android:name="com.simaht.modules.dashboard_mh.tools.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.simaht.modules.dashboard_mh.tools.ToolTransferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- TODO: Activity del SPLASHSCREN -->
        <activity
            android:name="com.simaht.modules.dashboard_mh.SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">

        </activity>
        <activity
            android:name="com.simaht.modules.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginStyle"/>
        <activity
            android:name="com.simaht.modules.dashboard_mh.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity> <!-- Activity de NOTIFICACIONES -->
        <activity
            android:name="com.simaht.modules.dashboard_mh.Notifications"
            android:label="@string/msg_title_notificaciones"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.simaht.modules.dashboard_mh.C4Help"
            android:label="@string/msg_title_c4_ayuda"
            android:theme="@style/AppThemeThreeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simaht.modules.camara.view.FunCamaraView"
            android:screenOrientation="portrait"/>
    </application>

</manifest>