<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.baz.continuidadoperativaletterassignment">

    <application>
        <activity android:name=".almenu.view.ui.ALetterActivity" android:label="Transferencia\nde herramientas">
        </activity>
    </application>

</manifest>